{% extends 'command/base.html' %}

{% block navbar %}

<nav class="navbar">
    <li><a href="{% url 'command:index'           %}"><i class="fas fa-home"></i><span class="Names">Home</span></a></li>
    <li><a href="{% url 'command:students'        %}"><i class="fas fa-user-plus"></i><span class="Names">Add/Delete Student</span></a></li>
    <li><a href="{% url 'command:profs'           %}"><i class="fas fa-chalkboard-teacher"></i><span class="Names">Add/Delete Teacher</span></a></li>
    <li><a href="{% url 'command:ta'              %}"><i class="fas fa-user-graduate"></i><span class="Names">Add/Delete TA</span></a></li>
    <li><a href="{% url 'command:courses'         %}" style="background-color:#246997;"><i class="fas fa-book"></i><span class="Names">Register/Drop Courses</span></a></li>
    <li><a href="{% url 'command:withdraw_course' %}"><i class="fas fa-minus-circle"></i><span class="Names">Withdraw</span></a></li>    
    <li><a href="{% url 'command:create_course'   %}"><i class="fas fa-plus-circle"></i><span class="Names">Create Course</span></a></li>                     
    <li><a href="{% url 'command:ta'              %}"><i class="fas fa-money-check-alt"></i><span class="Names">Payment</span></a></li>
    <li><a href="{% url 'command:report'          %}"><i class="fas fa-file-alt"></i><span class="Names">Report</span></a> </li>
</nav>

{% endblock %}

{% block content %}

<div style="border: 2px solid rgb(255, 255, 255); width: 97%; height: 300px; margin-top: 0; margin-left: 2%;">
    <h1 style="font-size: 24px;">Add Course</h1>
    <form id="AddCourseForm">
        <label for="courseCode" style="font-size: 18px; font-weight: bold; display: inline-block; width: 150px;">course Code:</label>
        <input type="text" id="CourseCode" name="CourseCode" style="font-size: 18px;"><br><br>
    </form>

</div>
<div style="border: 2px solid rgb(255, 255, 255); width: 97%; height: 260px; margin-top: 0; margin-left: 2%;">
    <h1 style="font-size: 24px;">Delete Course</h1>

    <form id="DeleteCourseForm">
        <label for="courseCode" style="font-size: 18px; font-weight: bold; display: inline-block; width: 150px;">course Code:</label>
        <input type="text" id="CourseCode" name="CourseCode" style="font-size: 18px;"><br><br>

        <label for="TimeSlot" style="font-size: 18px; font-weight: bold; display: inline-block; width: 150px;">Time Slot:</label>
        <input type="text" id="TimeSlot" name="TimeSlot" style="font-size: 18px;"><br><br>

        <button type="confirm" style="font-size: 18px;width: 370px;" class="admin-btn">Confirm</button>
    </form>

</div>
{% endblock %}
